
<div class="row">
    <div class="col-md-4">
     <div class="card">
            <div class="card-body">
                <h1 class="card-title">Employees</h1>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Position</td>
                    <td>Office</td>
                    <td>Operations</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let employee of employeeService.employees">
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.position }}</td>
                    <td>{{ employee.office }}</td>
                    <td>
                        <button class="btn btn-danger">Delete</button>
                        <button class="btn btn-info">Edit</button>
                    </td>
                </tr>
             
            </tbody>
        </table>
    </div>
</div>